@{
    ViewBag.Title = "聯絡資訊";
}

<style>
    .whiteBlockHead {
        border-radius: 30px 30px 0px 0px;
        margin: -30px -30px 20px -30px;
        padding: 15px 20px 1px 20px;
        background-color: #ffcccc;
        text-align: center;
        font-weight: 900;
        font-size: 45px
    }

    .wideLine {
        border: 0;
        height: 4px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(153, 0, 0), rgba(0, 0, 0, 0));
    }

    .pd {
        padding-bottom: 20px
    }
</style>
<h1>~</h1>
<h1>@ViewBag.Title</h1>
<h1>~</h1>

<div class="whiteBlock shadow">
    <div class="whiteBlockHead">
        陳韻安
        <hr class="wideLine" />
    </div>
    <div class="row">
        <div class="col-sm-2 pd"><b>FB：</b></div> <div class="col-sm-10 pd"><a href="https://www.facebook.com/vivian.pony/" target="_blank" class="glyphicon glyphicon-link">陳韻安</a></div>
        <div class="col-sm-2 pd"><b>信箱：</b></div> <div class="col-sm-10 pd"><a href="mailto:vivian0602.chen@gmail.com"> 📧 vivian0602.chen@gmail.com</a></div>
        <div class="col-sm-2 pd"><b>發問題格式：</b></div>
        <div class="col-sm-10 pd">
            <b>Messenger</b>或是<b>寫信</b>都可以喔！我會盡快回覆！ <br />以下幾點有的話盡量寫，會比較明確，可以避免溝通上的誤解 (〃￣︶￣)人(￣︶￣〃) <br> <br />
            <b>信件主旨：</b> 【資料結構 學習系統問題】資二A 07156XXX 王大明 <br>
            <b>內容：</b> <br>
            <ul>
                <li>第？週 第？題</li>
                <li>問題描述 / 網頁錯誤描述：</li>
                <li>連絡後想達成的目的：</li>
                <li>頁面截圖：</li>
            </ul>
        </div>
    </div>

</div>

