
@{
    ViewBag.Title = "再次確認";
}

<link href="~/Content/midleBlock.css" rel="stylesheet" />
<div class="middleBlock shadow2">
    <h2 class="col-md-offset-1">再次確認</h2>
    <hr class="wideLine" />
    <h3 class="col-md-offset-1">請問你是 <strong>@ViewBag.name</strong> 嗎？</h3>
    <div class="row">
        <div class="col-sm-6 ">
            @Html.ActionLink("是", "Index", null, new { @class = "yes btn" })
        </div>
        <div class="col-sm-6 ">
            @Html.ActionLink("否", "Login", null, new { @class = "no btn" })
        </div>
    </div>

</div>

